
    <div class="grid-container">
        <div class="grid-item">
            <h1>Gabriel Nava Rodrigues</h1>
            <div class=" profile-photo">
                <img src="../../assets/gabrielnava.jpg">
            </div>
        </div>
        <div class="grid-item">
            <ul class="contact_list ">
                <br>
                <li>
                    <a href="mailto:bielnava@gmail.com ">bielnava@gmail.com</a>
                </li>
                <br>
                <br>
                <li>
                    <a href="https://www.linkedin.com/in/gabrielnavarodrigues/ " target="_blank ">LinkedIn</a>
                </li>
                <br>
                <br>
                <li>
                    <a href="https://github.com/gnrodrigues " target="_blank ">Github</a>
                </li>
            </ul>
        </div>
    </div>
