<div class="grid-container">
    <div class="grid-item">
        <div >
            <a href="https://www.instagram.com/gabrielnavarodrigues/">
            <img src="../../assets/logo.png" class="instagram-logo" >
        </a>
        </div>
    </div>
    <div class="grid-item">
        <br>
        <div style="padding-top: 13px;">
            <a href="https://twitter.com/gnavarodrigues?lang=en">
            <img src="../../assets/twitter.jpg" class="twitter-logo" >
        </a>
        </div>
    </div>
</div>